@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100vh;
}

.app{
  margin: auto;
}